# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env
.env.*.local

# Optional npm cache directory
.npm

# Optional Yarn cache directory
.yarn/cache

# OS-specific files
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Build output
dist/
build/
coverage/

# Optional lock files (if you only use one package manager)
package-lock.json
yarn.lock
